### Importing Packages and Load Data

In [2]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
data = pd.read_csv("./train.csv",usecols=['Age','Fare','Survived'])

In [4]:
data.sample(5)

     Survived   Age     Fare
204         1  18.0   8.0500
395         0  22.0   7.7958
756         0  28.0   7.7958
460         1  48.0  26.5500
751         1   6.0  12.4750

### Train Test Split

In [5]:
X = data.drop('Survived', axis=1)
y = data['Survived']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=2)

### Without Indication

In [17]:
si = SimpleImputer()

X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [18]:
clf = LogisticRegression()

clf.fit(X_train_trf, y_train)

y_pred = clf.predict(X_test_trf)

In [19]:
accuracy_score(y_test, y_pred)

0.6145251396648045

### With Indication

In [20]:
mi = MissingIndicator()

mi.fit(X_train)

X_train_missing = mi.transform(X_train)
X_test_missing = mi.transform(X_test)

In [21]:
X_train['Age_NA'] = X_train_missing
X_test['Age_NA'] = X_test_missing

In [22]:
X_train

      Age      Fare  Age_NA
30   40.0   27.7208   False
10    4.0   16.7000   False
873  47.0    9.0000   False
182   9.0   31.3875   False
876  20.0    9.8458   False
..    ...       ...     ...
534  30.0    8.6625   False
584   NaN    8.7125    True
493  71.0   49.5042   False
527   NaN  221.7792    True
168   NaN   25.9250    True

[712 rows x 3 columns]

In [ ]:
si = SimpleImputer()
# si = SimpleImputer(add_indicator=True) # to add indicator columns

X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [24]:
clf = LogisticRegression()

clf.fit(X_train_trf, y_train)

y_pred = clf.predict(X_test_trf)

In [25]:
accuracy_score(y_test, y_pred)

0.6312849162011173